 .u-section-1 {
  background-image: linear-gradient(#e68387, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 284px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 26px 64px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 18px 64px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 28px 64px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  width: 746px;
  margin: 19px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 36px 0 10px;
  }
} .u-section-2 {
  background-image: linear-gradient(#db545a, #f1b5b8);
}

.u-section-2 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 746px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 598px;
  margin: 46px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 715px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s1a.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s3.jpg");
  background-position: 50% 14.09%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s6.jpg");
  background-position: 50% 17.82%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s5.jpg");
  background-position: 50% 33.51%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 290px;
  height: 290px;
  background-image: url("images/faru-s4.jpg");
  background-position: 50% 0%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 33px 64px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 589px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1025px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/faru-s1a.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 110px auto 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  border-style: solid;
  margin: 70px auto 60px;
  padding: 34px 31px 34px 30px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 242px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 98.99% 0%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 152px;
  }
}